
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .nav-container {
            position: fixed;
            width: 100%;
            z-index: 1000;
            background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for nav */
        }

        nav {
            background-color: transparent;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Inria Sans', sans-serif;
            font-weight: bold;
            font-size: 20px;
        }

        nav .left {
            display: flex;
            align-items: center;
        }

        nav .right {
            display: flex;
            align-items: center;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        nav ul li {
            margin-left: 20px;
        }

        nav ul li a, nav .left a {
            color: #5EBEC4;
            text-decoration: none;
        }

        .animate-title {
            color: #000000;
            font-family: 'Libre Baskerville', serif;
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 20px;
            position: absolute;
            text-align: center;
            top: 80px; /* Adjusted top position */
            left: center; /* Adjusted left position */
        }

        .portfolio-item {
            margin: 20px;
            display: inline-block;
            border: 1px solid #ccc;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 0; /* Remove rounded corners */
        }

        .portfolio-item img {
            display: block;
            width: 100%; /* Ensure the image fills its container */
            height: auto; /* Maintain aspect ratio */
        }

        .image-label {
            margin-top: 10px; /* Adjust spacing between image and label */
            font-size: 18px;
            font-weight: 600;
            color: #000000;
            text-decoration: none; /* Remove underline */
            text-align: center;
        }

        .d-image {
           top: -410px; /* Adjust top position for the web image */
           left: 40%; /* Center horizontally */
           width: 430px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        .face-image {
           top: -180px; /* Adjust top position for the web image */
           left: -5%; /* Center horizontally */
           width: 430px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        .video-container {
            position: relative;
            width: 100%;
            max-width: 800px; /* Adjust max-width as needed */
        }

        .video-container video {
            width: 100%;
            height: auto;
        }

        .tele-video {
           top: 120px; /* Adjust top position for the web image */
           left: -5%; /* Center horizontally */
           width: 430px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        .walk-video {
           top: -175px; /* Adjust top position for the web image */
           left: 40%; /* Center horizontally */
           width: 430px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }
