 @import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;700&family=Yeseva+One&family=Libre+Baskerville:wght@700&family=Lexend+Deca:wght@600&display=swap');

        body, html {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            scroll-behavior: smooth;
            width: 1280px; /* Set the width of the body */
            height: 3190px; /* Set the height of the body */
            overflow-x: hidden; /* Prevent horizontal scrolling */
        }

        .nav-container {
            position: fixed;
            width: 100%;
            z-index: 1000;
            background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for nav */
        }

        nav {
            background-color: transparent;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Inria Sans', sans-serif;
            font-weight: bold;
            font-size: 20px;
        }

        nav .left {
            display: flex;
            align-items: center;
        }

        nav .right {
            display: flex;
            align-items: center;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        nav ul li {
            margin-left: 20px;
        }

        nav ul li a, nav .left a {
            color: #5EBEC4;
            text-decoration: none;
        }

        .layer {
            width: 100%;
            display: flex;
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
            padding: 20px;
            overflow: hidden; /* Hide overflow to prevent scrolling */
            position: relative;
        }

        .layer1 {
            background-color: #FDF5DF;
            padding-top: 60px; /* Adjust if needed to prevent content overlap with fixed nav */
            flex-direction: row-reverse; /* Image on the left, text on the right */
            height: 512px; /* Adjusted height */
        }

        .text-container {
            max-width: 50%;
            text-align: left;
            padding: 0 20px; /* Adjust padding for spacing */
            position: relative; /* Positioning for lines */
            margin-top: -70px; /* Adjust top margin to position text below top line */
        }

        .text-container h2 {
            font-family: 'Yeseva One', cursive; /* Use Yeseva One for "Hi, I’m" "Adina Aisyah" */
            font-weight: normal; /* Regular */
            font-size: 48px; /* Size: 48 */
            margin: 5px;
            color: #5EBEC4; /* First text color */
        }

        .text-container p {
            font-family: 'Inria Sans', sans-serif;
            font-weight: 300;
            font-size: 16px;
            margin: 0px 0 0;
            color: #F92C85; /* Second text color */
        }

        .image-container {
            max-width: 50%;
            text-align: left;
            position: relative; /* Ensure relative positioning */
        }

        .image-container img {
            border-radius: 26px;
            max-width: 100%;
            height: auto;
        }

        .linkedin-box {
            position: absolute;
            bottom: -60px;
            left: 200;
            width: 100%;
            text-align: left;
        }

        .linkedin-box a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #5EBEC4;
            color: white;
            text-decoration: none;
            border-radius: 8px;
            font-family: 'Inria Sans', sans-serif;
            font-weight: bold;
            font-size: 16px;
        }

        .linkedin-box a:hover {
            background-color: #4CA6A7;
        }

        .line {
            position: absolute; /* Absolute positioning */
            width: 1px;
            background-color: #000000;
            opacity: 0.35;
            left: 50%;
            transform: translateX(-50%);
        }

        .line.top {
            height: 28px; /* Adjusted height */
            left: 60px; /* Adjusted left position */
            top: 114px; /* Adjusted top position */
        }

        .line.bottom {
            height: 128px; /* Adjusted height */
            left: 60px; /* Adjusted left position */
            top: 217px; /* Adjusted top position */
        }

        .number {
            position: absolute;
            color: #000000;
            font-family: 'Inria Sans', serif;
            font-weight: 300;
            font-size: 60px;
            opacity: 0.4;
            left: 28px; /* Adjusted left position */
            top: 144px; /* Adjusted top position */
        }

        .introduce {
            position: absolute;
            color: #000000;
            font-family: 'Inria Sans', serif;
            font-weight: 300;
            font-size: 24px;
            opacity: 0.4;
            left: 45px; /* Adjusted left position */
            top: 480px; /* Adjusted top position */
            transform: rotate(-90deg); /* Rotate 90 degrees */
            transform-origin: left top; /* Rotate from left top */
        }

        .layer2 {
            background-color: #FFB7C8;
            padding-top: 60px; /* Adjust if needed to prevent content overlap with fixed nav */
            flex-direction: row-reverse; /* Image on the left, text on the right */
            height: 512px; /* Adjusted height */
            position: relative; /* Ensure relative positioning */
        }

        .layer2 .course-title {
            font-family: 'Libre Baskerville', serif;
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 20px;
            position: absolute;
            top: 80px; /* Adjusted top position */
            left: 238px; /* Adjusted left position */
        }

        .layer2 .sub-title {
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 600;
            font-size: 32px;
            color: #FDF5DF;
            margin-bottom: 20px;
            position: absolute;
            text-align: center;
            top: 140px; /* Adjusted top position */
            left: 150px; /* Adjusted left position */
        }

        .layer2 .sub-title span {
            display: block;
            margin-top: 5px;
        }

        .layer2 .straight-line {
            width: 310px;
            height: 1px;
            background-color: #000000;
            opacity: 0.7;
            margin: 20px auto;
            position: absolute;
            top: 310px; /* Adjusted top position */
            left: 190px; /* Adjusted left position */
        }

        .layer2 .course-description {
            font-family: 'Inder', sans-serif;
            font-weight: normal;
            font-size: 20px;
            color: #000000;
            text-align: center;
            left: 170px; /* Adjusted left position */
            top: 340px; /* Adjusted top position */
            position: absolute;
        }

        .layer2 .course-description span {
            display: block;
            margin-top: 5px;
        }

        .image-container img {
            border-radius: 0px;
            max-width: 100%; /* Adjust the width */
            height: auto;
        }

        .image-container {
           max-width: 33.33%; /* Each image takes up 1/3 of the container */
           text-align: center; /* Center align the images */
           margin-right: 20px; /* Add right margin for spacing */
           position: relative; /* Ensure relative positioning */
        }

        .image-link-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Make the container full height */
        }

        .image-link-container a img {
           max-width: 100%;
           height: auto;
           border: none; /* Remove any default border from the image */
           transition: transform 0.3s ease; /* Add transition for hover effect */
        }

        .image-link-container a img:hover {
           transform: scale(1.05); /* Slightly enlarge the image on hover */
        }

        .website-image {
           top: -120px; /* Adjust top position for the web image */
           left: 73%; /* Center horizontally */
           width: 200px;
           height: auto;
           transform: translateX(-50%);
        }

        .animation-image {
           top: 20%; /* Adjust top position for the animation image */
           right: -378px; /* Adjust right position */
           width: 200px;
           height: auto;
           transform: translateY(-50%);
        }

        .game-image {
          bottom: -120px; /* Adjust bottom position for the game image */
          left: -5%; /* Center horizontally */
          width: 170px;
          height: auto;
          transform: translateX(-50%);
        }

        .course {
            position: absolute;
            color: #000000;
            font-family: 'Inria Sans', serif;
            font-weight: 300;
            font-size: 24px;
            opacity: 0.4;
            left: 45px; /* Adjusted left position */
            top: 450px; /* Adjusted top position */
            transform: rotate(-90deg); /* Rotate 90 degrees */
            transform-origin: left top; /* Rotate from left top */
        }

        .box-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            position: absolute;
            bottom: 80px; /* Adjust bottom position */
        }

        .box {
            background-color: #FFD279; /* Box background color */
            width: 160px; /* Box width */
            height: 41px; /* Box height */
            text-align: center; /* Center align text */
            line-height: 41px; /* Vertically center text */
            font-family: 'Lexend Deca', sans-serif; /* Font family */
            font-size: 24px; /* Font size */
            font-weight: 600; /* Semibold font weight */
            color: #000000; /* Text color */
        }

        .animation-box {
           top: 40%; /* Adjust top position for the animation box */
           right: 100px; /* Adjust right position */
           width: 160px;
           height: 41px;
           transform: translateY(-50%);
        }

        .website-box {
           top: 18%; /* Adjust top position for the animation box */
           right: 290px; /* Adjust right position */
           width: 160px;
           height: 41px;
           transform: translateY(-50%);
        }

        .game-box {
           top: 60%; /* Adjust top position for the animation box */
           right: 390px; /* Adjust right position */
           width: 160px;
           height: 41px;
           transform: translateY(-50%);
        }

        .layer3 {
            background-color: #5EBEC4;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #FFFFFF;
            height: 545px; /* Adjusted height */
            position: relative; /* Ensure relative positioning */
        }

        .layer3 .projects-title {
            color: #FDF5DF;
            font-family: 'Libre Baskerville', serif;
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 20px;
            position: absolute;
            text-align: center;
            top: 80px; /* Adjusted top position */
            left: center; /* Adjusted left position */
        }

        .image-box {
           max-width: 33.33%; /* Each image takes up 1/3 of the container */
           text-align: center; /* Center align the images */
           margin-right: 20px; /* Add right margin for spacing */
           position: relative; /* Ensure relative positioning */
        }

        .image-box img {
            border-radius: 28px;
            max-width: 100%; /* Adjust the width */
            height: auto;
        }

        .image-label {
            margin-top: 10px; /* Adjust spacing between image and label */
            font-size: 24px;
            font-weight: 600;
            color: #FDF5DF;
            text-decoration: none; /* Remove underline */
        }

        .image-link-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Make the container full height */
        }

        .image-link-container a img {
           max-width: 100%;
           height: auto;
           border: none; /* Remove any default border from the image */
           transition: transform 0.3s ease; /* Add transition for hover effect */
        }

        .image-link-container a img:hover {
           transform: scale(1.05); /* Slightly enlarge the image on hover */
        }

        .photo-image {
           top: 50px; /* Adjust top position for the photo image */
           left: 5%; /* Center horizontally */
           width: 210px;
           height: auto;
           transform: translateX(-50%);
           border-radius: 22px;
        }

        .bisnes-image {
           top: 50px; /* Adjust top position for the bisnes image */
           left: 10%; /* Center horizontally */
           width: 210px;
           height: auto;
           transform: translateX(-50%);
           border-radius: 22px;
        }

        .content-image {
           top: 50px; /* Adjust top position for the web image */
           left: 15%; /* Center horizontally */
           width: 210px;
           height: auto;
           transform: translateX(-50%);
           border-radius: 22px;
        }

        .design-image {
           top: 50px; /* Adjust top position for the web image */
           left: 20%; /* Center horizontally */
           width: 210px;
           height: auto;
           transform: translateX(-50%);
           border-radius: 22px;
        }

        .projects {
            position: absolute;
            color: #000000;
            font-family: 'Inria Sans', serif;
            font-weight: 300;
            font-size: 24px;
            opacity: 0.4;
            left: 45px; /* Adjusted left position */
            top: 462px; /* Adjusted top position */
            transform: rotate(-90deg); /* Rotate 90 degrees */
            transform-origin: left top; /* Rotate from left top */
        }
        
        .layer4 {
            background-color: #FDF5DF;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #000000;
            height: 512px; /* Adjusted height */
        }

        .layer4 .skills-title {
            color: #000000;
            font-family: 'Libre Baskerville', serif;
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 20px;
            position: absolute;
            text-align: center;
            top: 80px; /* Adjusted top position */
            left: center; /* Adjusted left position */
        }

        .skills {
            position: absolute;
            color: #000000;
            font-family: 'Inria Sans', serif;
            font-weight: 300;
            font-size: 24px;
            opacity: 0.4;
            left: 45px; /* Adjusted left position */
            top: 444px; /* Adjusted top position */
            transform: rotate(-90deg); /* Rotate 90 degrees */
            transform-origin: left top; /* Rotate from left top */
        }

        .skills-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-top: 20px;
            width: 80%;
        }

        .skills-box {
            margin-bottom: 20px;
            text-align: left;
            width: 100%;
        }

        .eng-title {
            font-family: 'Inter', sans-serif;
            font-weight: bold;
            font-size: 24px;
            color: #000000;
            position: relative; /* Enables positioning */
            top: 87px; /* Adjust top position */
            left: 56px; /* Adjust left position */
        }

        .eng-level {
            font-family: 'Inter', sans-serif;
            font-weight: normal;
            font-size: 15px;
            color: #000000;
            position: relative; /* Enables positioning */
            top: 76px; /* Adjust top position */
            left: 273px; /* Adjust left position */
        }

        .eng-image {
            width: 278px;
            height: 16px;
            position: relative; /* Enables positioning */
            top: 76px; /* Adjust top position */
            left: 150px;
        }
        
        .mly-title {
            font-family: 'Inter', sans-serif;
            font-weight: bold;
            font-size: 24px;
            color: #000000;
            position: relative; /* Enables positioning */
            top: 127px; /* Adjust top position */
            left: 46px; /* Adjust left position */
        }

        .mly-level {
            font-family: 'Inter', sans-serif;
            font-weight: normal;
            font-size: 15px;
            color: #000000;
            position: relative; /* Enables positioning */
            top: 116px; /* Adjust top position */
            left: 268px; /* Adjust left position */
        }

        .mly-image {
            width: 278px;
            height: 16px;
            position: relative; /* Enables positioning */
            top: 116px; /* Adjust top position */
            left: 150px;
        }

        .comm-title {
            font-family: 'Inter', sans-serif;
            font-weight: bold;
            font-size: 24px;
            color: #000000;
            position: relative; /* Enables positioning */
            top: 167px; /* Adjust top position */
            left: 103px; /* Adjust left position */
        }

        .comm-level {
            font-family: 'Inter', sans-serif;
            font-weight: normal;
            font-size: 15px;
            color: #000000;
            position: relative; /* Enables positioning */
            top: 156px; /* Adjust top position */
            left: 273px; /* Adjust left position */
        }

        .comm-image {
            width: 278px;
            height: 16px;
            position: relative; /* Enables positioning */
            top: 156px; /* Adjust top position */
            left: 150px;
        }

        .inter-title {
            font-family: 'Inter', sans-serif;
            font-weight: bold;
            font-size: 24px;
            color: #000000;
            position: relative; /* Enables positioning */
            top: -108px; /* Adjust top position */
            left: 539px; /* Adjust left position */
        }

        .inter-level {
            font-family: 'Inter', sans-serif;
            font-weight: normal;
            font-size: 15px;
            color: #000000;
            position: relative; /* Enables positioning */
            top: -120px; /* Adjust top position */
            left: 723px; /* Adjust left position */
        }

        .inter-image {
            width: 278px;
            height: 16px;
            position: relative; /* Enables positioning */
            top: -120px; /* Adjust top position */
            left: 600px;
        }

        .org-title {
            font-family: 'Inter', sans-serif;
            font-weight: bold;
            font-size: 24px;
            color: #000000;
            position: relative; /* Enables positioning */
            top: -68px; /* Adjust top position */
            left: 547px; /* Adjust left position */
        }

        .org-level {
            font-family: 'Inter', sans-serif;
            font-weight: normal;
            font-size: 15px;
            color: #000000;
            position: relative; /* Enables positioning */
            top: -80px; /* Adjust top position */
            left: 723px; /* Adjust left position */
        }

        .org-image {
            width: 278px;
            height: 16px;
            position: relative; /* Enables positioning */
            top: -80px; /* Adjust top position */
            left: 600px;
        }

        .creativity-title {
            font-family: 'Inter', sans-serif;
            font-weight: bold;
            font-size: 24px;
            color: #000000;
            position: relative; /* Enables positioning */
            top: -28px; /* Adjust top position */
            left: 517px; /* Adjust left position */
        }

        .creativity-level {
            font-family: 'Inter', sans-serif;
            font-weight: normal;
            font-size: 15px;
            color: #000000;
            position: relative; /* Enables positioning */
            top: -40px; /* Adjust top position */
            left: 723px; /* Adjust left position */
        }

        .creativity-image {
            width: 278px;
            height: 16px;
            position: relative; /* Enables positioning */
            top: -40px; /* Adjust top position */
            left: 600px
        }

        .layer5 {
            background-color: #FDF5DF;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #000000;
            height: 512px; /* Adjusted height */
        }

        .layer5 .soft-title {
            color: #000000;
            font-family: 'Libre Baskerville', serif;
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 20px;
            position: absolute;
            text-align: center;
            top: 15px; /* Adjusted top position */
            left: 500px; /* Adjusted left position */
        }

        .image-box {
           max-width: 33.33%; /* Each image takes up 1/3 of the container */
           text-align: center; /* Center align the images */
           margin-right: 20px; /* Add right margin for spacing */
           position: relative; /* Ensure relative positioning */
        }

        .image-box img {
            border-radius: 28px;
            max-width: 100%; /* Adjust the width */
            height: auto;
        }

        .ps-image {
           top: 465px; /* Adjust top position for the photo image */
           left: -23%; /* Center horizontally */
           width: 17px;
           height: auto;
           transform: translateX(-50%);
           border-radius: 26px;
        }

        .id-image {
           top: 374px; /* Adjust top position for the photo image */
           left: -13%; /* Center horizontally */
           width: 17px;
           height: auto;
           transform: translateX(-50%);
           border-radius: 26px;
        }

        .ai-image {
           top: 283px; /* Adjust top position for the photo image */
           left: -3%; /* Center horizontally */
           width: 17px;
           height: auto;
           transform: translateX(-50%);
           border-radius: 26px;
        }

        .an-image {
           top: 192px; /* Adjust top position for the photo image */
           left: 7%; /* Center horizontally */
           width: 17px;
           height: auto;
           transform: translateX(-50%);
           border-radius: 26px;
        }

        .xd-image {
           top: -69px; /* Adjust top position for the photo image */
           left: 17%; /* Center horizontally */
           width: 17px;
           height: auto;
           transform: translateX(-50%);
           border-radius: 26px;
        }

        .ue-image {
           top: 190px; /* Adjust top position for the photo image */
           left: -35%; /* Center horizontally */
           width: 50px;
           height: auto;
           transform: translateX(-50%);
           border-radius: 26px;
        }

        .my-image {
           top: -40px; /* Adjust top position for the photo image */
           left: -19%; /* Center horizontally */
           width: 18px;
           height: auto;
           transform: translateX(-50%);
           border-radius: 26px;
        }

        .excel-image {
           top: -148px; /* Adjust top position for the photo image */
           left: -9%; /* Center horizontally */
           width: 23px;
           height: auto;
           transform: translateX(-50%);
           border-radius: 26px;
        }

        .canva-image {
           top: -260px; /* Adjust top position for the photo image */
           left: -0.5%; /* Center horizontally */
           width: 36px;
           height: auto;
           transform: translateX(-50%);
           border-radius: 26px;
        }

        .pp-image {
           top: -370px; /* Adjust top position for the photo image */
           left: 11%; /* Center horizontally */
           width: 23px;
           height: auto;
           transform: translateX(-50%);
           border-radius: 26px;
        }

        .words-image {
           top: -485px; /* Adjust top position for the photo image */
           left: 21%; /* Center horizontally */
           width: 20px;
           height: auto;
           transform: translateX(-50%);
        }

        .layer6 {
            background-color: #FFB7C8;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #000000;
            height: 545px; /* Adjusted height */
        }

        .layer6 .tl-title {
            font-family: 'Libre Baskerville', serif;
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 20px;
            top: 20px;
        }

        .timeline {
            position: absolute;
            color: #000000;
            font-family: 'Inria Sans', serif;
            font-weight: 300;
            font-size: 24px;
            opacity: 0.4;
            left: 45px; /* Adjusted left position */
            top: 460px; /* Adjusted top position */
            transform: rotate(-90deg); /* Rotate 90 degrees */
            transform-origin: left top; /* Rotate from left top */
        }

        .image-box {
           max-width: 33.33%; /* Each image takes up 1/3 of the container */
           text-align: center; /* Center align the images */
           margin-right: 0px; /* Add right margin for spacing */
           position: relative; /* Ensure relative positioning */
        }

        .image-box img {
            border-radius: 28px;
            max-width: 500%; /* Adjust the width */
            height: auto;
        }

        .tl-image {
           top: 20px; /* Adjust top position for the photo image */
           left: -10%; /* Center horizontally */
           width: 105px;
           height: auto;
           transform: translateX(-50%);
           border-radius: 0px;
        }
        
        .layer7 {
            background-color: #5EBEC4;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #FDF5DF;
            height: 50px; /* Adjusted height */
        }

        .layer7 .contact-title {
            font-family: 'Inter', 'sans-serif';
            font-weight: bold;
            font-size: 15px;
            margin-bottom: 20px;
        }

        .layer7 .section-content {
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 24px;
            color: #FDF5DF;
            text-align: left;
            margin-left: 238px;
            margin-top: -45px;
        }

        .layer7 .contact-links {
            display: flex;
            gap: 15px;
        }

        .layer7 .contact-links a img {
            width: 30px; /* Adjust size as needed */
            height: 25px; /* Adjust size as needed */
        }

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-container {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for nav */
}

nav {
    background-color: transparent;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inria Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

nav .left {
    display: flex;
    align-items: center;
}

nav .right {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a, nav .left a {
    color: #5EBEC4;
    text-decoration: none;
}

.web-title {
    color: #000000;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
    position: absolute;
    text-align: center;
    top: 80px; /* Adjusted top position */
    left: center; /* Adjusted left position */
}

.portfolio-item {
    margin: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.portfolio-item img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.portfolio-item a {
    text-decoration: none;
    color: inherit;
    display: block;
    position: relative;
}

.xd-image {
    top: 130px; /* Adjust top position for the web image */
    left: -5%; /* Center horizontally */
    width: 430px;
    height: auto;
    transform: translateX(-50%);
    position: relative;
}

.cotton-image {
    top: -175px; /* Adjust top position for the web image */
    left: 45%; /* Center horizontally */
    width: 600px;
    height: auto;
    transform: translateX(-50%);
    position: relative;
}

.image-label {
    margin-top: 10px; /* Adjust spacing between image and label */
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    text-decoration: none; /* Remove underline */
    text-align: center;
}

        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .nav-container {
            position: relative;
            left: auto;
            width: 100%;
            z-index: 1000;
            background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for nav */
        }

        nav {
            background-color: transparent;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Inria Sans', sans-serif;
            font-weight: bold;
            font-size: 20px;
        }

        nav .left {
            display: flex;
            align-items: center;
        }

        nav .right {
            display: flex;
            align-items: center;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        nav ul li {
            margin-left: 20px;
        }

        nav ul li a, nav .left a {
            color: #5EBEC4;
            text-decoration: none;
        }

        .animate-title {
            color: #000000;
            font-family: 'Libre Baskerville', serif;
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 20px;
            position: absolute;
            text-align: center;
            top: 80px; /* Adjusted top position */
            left: center; /* Adjusted left position */
        }

        .portfolio-item {
            margin: 20px;
            display: inline-block;
            border: 1px solid #ccc;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 0; /* Remove rounded corners */
        }

        .portfolio-item img {
            display: block;
            width: 100%; /* Ensure the image fills its container */
            height: auto; /* Maintain aspect ratio */
        }

        .image-label {
            margin-top: 10px; /* Adjust spacing between image and label */
            font-size: 18px;
            font-weight: 600;
            color: #000000;
            text-decoration: none; /* Remove underline */
            text-align: center;
        }

        .d-image {
           top: -410px; /* Adjust top position for the web image */
           left: 40%; /* Center horizontally */
           width: 430px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        .face-image {
           top: -180px; /* Adjust top position for the web image */
           left: -5%; /* Center horizontally */
           width: 430px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        .video-container {
            position: relative;
            width: 100%;
            max-width: 800px; /* Adjust max-width as needed */
        }

        .video-container video {
            width: 100%;
            height: auto;
        }

        .tele-video {
           top: 120px; /* Adjust top position for the web image */
           left: -5%; /* Center horizontally */
           width: 430px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        .walk-video {
           top: -175px; /* Adjust top position for the web image */
           left: 40%; /* Center horizontally */
           width: 430px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .nav-container {
            position: fixed;
            width: 100%;
            z-index: 1000;
            background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for nav */
        }

        nav {
            background-color: transparent;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Inria Sans', sans-serif;
            font-weight: bold;
            font-size: 20px;
        }

        nav .left {
            display: flex;
            align-items: center;
        }

        nav .right {
            display: flex;
            align-items: center;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        nav ul li {
            margin-left: 20px;
        }

        nav ul li a, nav .left a {
            color: #5EBEC4;
            text-decoration: none;
        }

        .game-title {
            color: #000000;
            font-family: 'Libre Baskerville', serif;
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 20px;
            position: absolute;
            text-align: center;
            top: 80px; /* Adjusted top position */
            left: center; /* Adjusted left position */
        }

        .portfolio-item {
            margin: 20px;
            display: inline-block;
            border: 1px solid #ccc;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 0; /* Remove rounded corners */
        }

        .portfolio-item img {
            display: block;
            width: 100%; /* Ensure the image fills its container */
            height: auto; /* Maintain aspect ratio */
        }

        .image-label {
            margin-top: 10px; /* Adjust spacing between image and label */
            font-size: 18px;
            font-weight: 600;
            color: #000000;
            text-decoration: none; /* Remove underline */
            text-align: center;
        }

        .ares-image {
           top: 130px; /* Adjust top position for the web image */
           left: 18%; /* Center horizontally */
           width: 430px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }
    
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .nav-container {
            position: fixed;
            width: 100%;
            z-index: 1000;
            background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for nav */
        }

        nav {
            background-color: transparent;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Inria Sans', sans-serif;
            font-weight: bold;
            font-size: 20px;
        }

        nav .left {
            display: flex;
            align-items: center;
        }

        nav .right {
            display: flex;
            align-items: center;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        nav ul li {
            margin-left: 20px;
        }

        nav ul li a, nav .left a {
            color: #5EBEC4;
            text-decoration: none;
        }

        .photo-title {
            color: #000000;
            font-family: 'Libre Baskerville', serif;
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 20px;
            position: absolute;
            text-align: center;
            top: 80px; /* Adjusted top position */
            left: center; /* Adjusted left position */
        }

        .portfolio-item {
            margin: 20px;
            display: inline-block;
            border: 1px solid #ccc;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 0; /* Remove rounded corners */
        }

        .portfolio-item img {
            display: block;
            width: 100%; /* Ensure the image fills its container */
            height: auto; /* Maintain aspect ratio */
        }

        .image-label {
            margin-top: 10px; /* Adjust spacing between image and label */
            font-size: 18px;
            font-weight: 600;
            color: #000000;
            text-decoration: none; /* Remove underline */
            text-align: center;
        }

        .framing-image {
           top: 133px; /* Adjust top position for the web image */
           left:-15%; /* Center horizontally */
           width: 350px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        .leading-image {
           top: -410px; /* Adjust top position for the web image */
           left: 15%; /* Center horizontally */
           width: 350px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        .isolating-image {
           top: -943px; /* Adjust top position for the web image */
           left: 45%; /* Center horizontally */
           width: 350px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .nav-container {
            position: fixed;
            width: 100%;
            z-index: 1000;
            background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for nav */
        }

        nav {
            background-color: transparent;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Inria Sans', sans-serif;
            font-weight: bold;
            font-size: 20px;
        }

        nav .left {
            display: flex;
            align-items: center;
        }

        nav .right {
            display: flex;
            align-items: center;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        nav ul li {
            margin-left: 20px;
        }

        nav ul li a, nav .left a {
            color: #5EBEC4;
            text-decoration: none;
        }

        .bisnes-title {
            color: #000000;
            font-family: 'Libre Baskerville', serif;
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 20px;
            position: absolute;
            text-align: center;
            top: 80px; /* Adjusted top position */
            left: center; /* Adjusted left position */
        }

        .portfolio-item {
            margin: 20px;
            display: inline-block;
            border: 1px solid #ccc;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 0; /* Remove rounded corners */
        }

        .portfolio-item img {
            display: block;
            width: 100%; /* Ensure the image fills its container */
            height: auto; /* Maintain aspect ratio */
        }

        .image-label {
            margin-top: 10px; /* Adjust spacing between image and label */
            font-size: 18px;
            font-weight: 600;
            color: #000000;
            text-decoration: none; /* Remove underline */
            text-align: center;
        }

        .sticker-image {
           top: 115px; /* Adjust top position for the web image */
           left: -3%; /* Center horizontally */
           width: 350px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        .packaging-image {
           top: -310px; /* Adjust top position for the web image */
           left: 30%; /* Center horizontally */
           width: 350px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        .story-image {
           top: -420px; /* Adjust top position for the web image */
           left: -3%; /* Center horizontally */
           width: 350px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        .status-image {
           top: -1040px; /* Adjust top position for the web image */
           left: 30%; /* Center horizontally */
           width: 350px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        .review1-image {
           top: -1085px; /* Adjust top position for the web image */
           left: -3%; /* Center horizontally */
           width: 350px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        .review2-image {
           top: -1180px; /* Adjust top position for the web image */
           left: 30%; /* Center horizontally */
           width: 350px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .nav-container {
            position: fixed;
            width: 100%;
            z-index: 1000;
            background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for nav */
        }

        nav {
            background-color: transparent;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Inria Sans', sans-serif;
            font-weight: bold;
            font-size: 20px;
        }

        nav .left {
            display: flex;
            align-items: center;
        }

        nav .right {
            display: flex;
            align-items: center;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        nav ul li {
            margin-left: 20px;
        }

        nav ul li a, nav .left a {
            color: #5EBEC4;
            text-decoration: none;
        }

        .content-title {
            color: #000000;
            font-family: 'Libre Baskerville', serif;
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 20px;
            position: absolute;
            text-align: center;
            top: 80px; /* Adjusted top position */
            left: center; /* Adjusted left position */
        }

        .portfolio-item {
            margin: 20px;
            display: inline-block;
            border: 1px solid #ccc;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 0; /* Remove rounded corners */
        }

        .portfolio-item img {
            display: block;
            width: 100%; /* Ensure the image fills its container */
            height: auto; /* Maintain aspect ratio */
        }

        .image-label {
            margin-top: 10px; /* Adjust spacing between image and label */
            font-size: 18px;
            font-weight: 600;
            color: #000000;
            text-decoration: none; /* Remove underline */
            text-align: center;
        }

        .tt-image {
           top: 120px; /* Adjust top position for the web image */
           left: -18%; /* Center horizontally */
           width: 350px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        .tt2-image {
           top: -734px; /* Adjust top position for the web image */
           left: 14%; /* Center horizontally */
           width: 350px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        .ig-image {
           top: -1586px; /* Adjust top position for the web image */
           left: 46%; /* Center horizontally */
           width: 350px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .nav-container {
            position: fixed;
            width: 100%;
            z-index: 1000;
            background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for nav */
        }

        nav {
            background-color: transparent;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Inria Sans', sans-serif;
            font-weight: bold;
            font-size: 20px;
        }

        nav .left {
            display: flex;
            align-items: center;
        }

        nav .right {
            display: flex;
            align-items: center;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        nav ul li {
            margin-left: 20px;
        }

        nav ul li a, nav .left a {
            color: #5EBEC4;
            text-decoration: none;
        }

        .graphic-title {
            color: #000000;
            font-family: 'Libre Baskerville', serif;
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 20px;
            position: absolute;
            text-align: center;
            top: 80px; /* Adjusted top position */
            left: center; /* Adjusted left position */
        }

        .portfolio-item {
            margin: 20px;
            display: inline-block;
            border: 1px solid #ccc;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 0; /* Remove rounded corners */
        }

        .portfolio-item img {
            display: block;
            width: 100%; /* Ensure the image fills its container */
            height: auto; /* Maintain aspect ratio */
        }

        .image-label {
            margin-top: 10px; /* Adjust spacing between image and label */
            font-size: 18px;
            font-weight: 600;
            color: #000000;
            text-decoration: none; /* Remove underline */
            text-align: center;
        }

        .stop-image {
           top: 120px; /* Adjust top position for the web image */
           left: -18%; /* Center horizontally */
           width: 350px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        .komugi-image {
           top: -480px; /* Adjust top position for the web image */
           left: 14%; /* Center horizontally */
           width: 350px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }

        .twister-image {
           top: -955px; /* Adjust top position for the web image */
           left: 46%; /* Center horizontally */
           width: 350px;
           height: auto;
           transform: translateX(-50%);
           position: relative;
        }
