
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-container {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for nav */
}

nav {
    background-color: transparent;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inria Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

nav .left {
    display: flex;
    align-items: center;
}

nav .right {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a, nav .left a {
    color: #5EBEC4;
    text-decoration: none;
}

.web-title {
    color: #000000;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
    position: absolute;
    text-align: center;
    top: 80px; /* Adjusted top position */
    left: center; /* Adjusted left position */
}

.portfolio-item {
    margin: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.portfolio-item img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.portfolio-item a {
    text-decoration: none;
    color: inherit;
    display: block;
    position: relative;
}

.xd-image {
    top: 130px; /* Adjust top position for the web image */
    left: -5%; /* Center horizontally */
    width: 430px;
    height: auto;
    transform: translateX(-50%);
    position: relative;
}

.cotton-image {
    top: -175px; /* Adjust top position for the web image */
    left: 45%; /* Center horizontally */
    width: 600px;
    height: auto;
    transform: translateX(-50%);
    position: relative;
}

.portfolio-item a::after {
    content: "Click here";
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.portfolio-item a:hover::after {
    opacity: 1;
}

.image-label {
    margin-top: 10px; /* Adjust spacing between image and label */
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    text-decoration: none; /* Remove underline */
    text-align: center;
}

